*.user
*.nupkg
/.vs
/TSQL_Depends/.vs/
/TSQL_Depends/packages
/TSQL_Depends/TSQL_Depends/bin
/TSQL_Depends/TSQL_Depends/obj
/TSQL_Depends/TSQL_Depends/project.lock.json
/TSQL_Depends/TSQL_Depends/TSQL_Depends.xml
/TSQL_Depends/Tests/bin
/TSQL_Depends/Tests/obj
